<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Guess My Number!</title>
  </head>
  <body
    [ngStyle]="{
      backgroundColor: winBackground >= false ? '#222' : '#60b347'
    }"
  >
    <header>
      <h1>Guess My Number!</h1>
      <p class="between">(Between 1 and 20)</p>
      <button class="btn again" (click)="newGame()">Again!</button>
      <div class="number">{{ this.win }}</div>
    </header>
    <main>
      <section class="left">
        <input type="number" class="guess" [(ngModel)]="guess" />
        <button class="btn check" (click)="playGame()">Check!</button>
      </section>
      <section class="right">
        <p class="message">{{ message }}</p>
        <p class="label-score">
          💯 Score: <span class="score">{{ this.score }}</span>
        </p>
        <p class="label-highscore">
          🥇 Highscore: <span class="highscore">{{ this.hiScore }}</span>
        </p>
      </section>
    </main>
    <script src="script.js"></script>
  </body>
</html>
